<mat-drawer-container fullscreen>
  <mat-drawer mode="side" opened>
    <app-sidenav></app-sidenav>
  </mat-drawer>
  <mat-drawer-content>
    <app-header></app-header>
    <div class="content-wrapper">
      <p><span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, id veritatis sapiente autem, inventore
          ut in labore dolorem tenetur, quia consequatur exercitationem placeat error. Eum accusantium sapiente modi
          adipisci esse.</span><span>Amet voluptatibus odio sapiente, voluptatum, dolores iste voluptas at alias quasi
          eveniet ex, officia iusto aut quam ab! Est autem deserunt excepturi corporis sunt dignissimos nulla deleniti
          id fugit facere?
        </span></p>
    </div>
  </mat-drawer-content>
</mat-drawer-container>