<div class="info">
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img src="https://image.flaticon.com/icons/svg/869/869045.svg">
            </div>
            <mat-card-title>Total</mat-card-title>
            <mat-card-subtitle> {{ dataSource.data.length | number }} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img src="https://image.flaticon.com/icons/svg/497/497738.svg">
            </div>
            <mat-card-title>Defect</mat-card-title>
            <mat-card-subtitle> {{ '2222' | number }} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        <mat-card-header>
            <div mat-card-avatar>
                <img src="https://image.flaticon.com/icons/svg/2312/2312986.svg">
            </div>
            <mat-card-title>Sold out</mat-card-title>
            <mat-card-subtitle> {{ soldout | number }} </mat-card-subtitle>
        </mat-card-header>
    </mat-card>
</div>

<div class="mat-elevation-z8">
    <div class="header">
        <mat-form-field appearance="outline">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter(input.value)" placeholder="name, stock, price" #input>
            <mat-icon *ngIf="!input.value" matSuffix>search</mat-icon>
            <button *ngIf="input.value" mat-icon-button matSuffix (click)="input.value = ''; applyFilter(input.value)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <button mat-flat-button color="primary" [routerLink]="['/stock/form']">
            <mat-icon>add</mat-icon>
            New Product
        </button>
    </div>

    <table mat-table [dataSource]="dataSource" matSort matSortDisableClear="true" matSortStart="desc"
        matSortDirection="asc">
        <ng-container matColumnDef="productId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-center"> ID </th>
            <td mat-cell *matCellDef="let row">
                <div class="over-lay">
                    <img src="{{ row.image | networkImage }}">
                    <div class="over-lay-text text-center mat-small">
                        {{ row.productId }}
                    </div>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row">
                <div class="product_name">
                    {{row.name}}
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
            <td mat-cell *matCellDef="let row"> {{ row.price | number : '1.2-2' }} </td>
        </ng-container>
        <ng-container matColumnDef="stock">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock </th>
            <td mat-cell *matCellDef="let row"> {{ row.stock | number }} </td>
        </ng-container>
        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header disabled="true"> Action </th>
            <td mat-cell *matCellDef="let row">
                <button mat-icon-button [routerLink]="['/stock/form', row.productId]">
                    <mat-icon class="material-icons-outlined">edit</mat-icon>
                </button>
                <button mat-icon-button (click)="onClickDelete(row.productId)">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <tr class="mat-row nodata" *matNoDataRow>
            <td class="mat-cell" colspan="5">No data matching the filter "{{input.value}}"</td>
        </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[20, 10, 25, 100]"></mat-paginator>
</div>